body {
  /* This sets the background using a hex color */
  background: linear-gradient(to bottom, #6699ff 0%, #ffccff 100%);
  font-family: sans-serif;
}

div {
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
}


h1 {
  color: #5D00D4;
}

h2 {
  color: #5D00D4;
}

p {
  color: #660066;
}

a {
  color: #5D00D4;
}

.step {
  color: #5D00D4;
}

/* Initial state */

#visited {
  bottom: 0;
  display: block;
  left: 0;
  padding: 1em;
  position: fixed;
  right: 0;
  text-align: center;
}

#logo,
section,
footer {
  display: none;
}

#intro {
  display: block;
}


/* 00 Content */

html.step0 #start {
  display: block;
}

html.step1 #Shelter {
  display: block;
}


/* 01 hiding */

html.step2 #hiding {
  display: block;
}

html.step2 header,
html.step2 main {
  margin: 0 auto;
  max-width: 50em;
}


html.step3 #bold {
  display: block;
}

html.step3 body {
  font-family: "Helvetica", "Arial", sans-serif;
}

/* 03 Spacing */

html.step4 #playful {
  display: block;
}

html.step4 body {
  line-height: 1.5;
  padding: 4em 1em;
}

html.step4 h2 {
  margin-top: 1em;
  padding-top: 1em;
}
